@keyframes slots {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: -3072px;
    }
}
.lootboxes {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.lootbox-store-scroll-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
    margin: 0 0 2rem;
    list-style: none;
    overflow-x: scroll;
}

.lootbox-stats-group {
    flex: 1 0 300px;
    max-width: 350px;
    margin: 0 0 1rem;
    padding: 0.5rem;
    background-color: #444;
    border-top: 5px solid #222;
    border-right: 5px solid #555;
    border-bottom: 5px solid #666;
    border-left: 5px solid #333;
}
.lootbox-stats-row{
    width: 100%;
    display: flex;
}

.lootbox-stats-label {
    flex: 2 1 150px;
    line-height: 1.5rem;
    padding: 0 0.75rem 0 0;
    margin: 0;
}

.lootbox-stats-value {
    flex: 1;
    margin: 0;
    text-align: right;
}

.loot-show-area {
    margin-bottom: 2rem;

}

.loot-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;   
}



// This isn't working because the random values are only generated when the Sass gets
// processed, which would be awersome if I was compiling it on the server at request, but I'm not
// so the random values are going to have to go inline (yuck) in the JS. 
.unopenedBox {
    background-image: url("http://localhost:3000/uiAssets/testReel.png");
    background-repeat: no-repeat;
    animation: slots 0.9s steps(6) infinite;
    animation-play-state: paused;

    
    .item-label,
    .item-card,
    .item-image {
        display: none;
    }
}

.spinning {
    animation-play-state: running;
}




.lootboxes-button-group{
    display: flex;
    padding: 0;
    margin: 0 auto 1rem;
}
.open-boxes-btn,
.buy-boxes-btn {
    flex: 1;
    font-size: 2rem;
    padding: 0.5rem 2rem;
}

.open-boxes-btn{
    margin: 0 0.5rem 0;
}