.hidden {
    display: none;
}
.top-nav {
    width:100%;
    background-color: #aaa;

    &-list {
        list-style: none;
        padding: 0;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-link {
        flex: 1;
        padding: 0.5rem;
        text-align: center;
    }

    ul {
        margin: 0;
    }
}



