.inventory-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem 0 0.75rem;
    margin: 0 0 1rem;
    box-shadow: 0 3px #555, 0 6px #aaa;
}
.inventory-item-icon {
    flex: 0 0 64px;
    margin: 0 0.75rem 0.5rem 0;
}
.inventory-item-text {
    flex: 1;
    
}
.inventory-item-name {
    margin: 0 0 0.25rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.inventory-item-btn-bar {
    flex: 1 1 100%;
}
.inventory-equip-btn {
    margin: 0 0.75rem 0;
}
.inventory-item-stats {
    font-size: 0.7rem;
    margin: 0 0 0.5rem;
}