.lootboxes {
    padding: 1rem;
}

.loot-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.loot-item {
    flex: 1 0 300px;
    padding: 1rem;
    max-width: 500px;

    .item-label {
        font-size: 1.1rem;
        text-align: center;
        margin: 0 0 0.5rem;
    }
}

.item-card {
    border: $item-card-border;
    padding: 1rem;
    .item-name {
        font-size: 1.5rem;
        margin: 0 0 0.75rem;
    }

    .item-desc {
        margin: 0;
    }
}

.open-boxes-btn {
    display: block;
    margin: 0 auto 1rem;
    font-size: 2rem;
    padding: 0.5rem 2rem;
}