$item-card-border: 1px solid #000;


* { 
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.hidden {
    display: none;
}

@import 'Lootboxes';
.character-sheet {
    padding: 1rem 2rem;
}
.stats-block {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
    min-width: 350px;
}

.equipped-items {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
    min-width: 350px;
}
.inventory {
    padding:1.5rem;
    border: $item-card-border;
    display: inline-block;
    max-height: 600px;
    overflow-y: scroll;
    min-width: 350px;
}