@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
* {
  box-sizing: border-box; }

body {
  font-family: "Press Start 2P", cursive;
  background-color: #000;
  color: #fff;
  font-size: 13px; }

button {
  padding: 3px 9px;
  background-color: #ddd;
  border-top: 3px solid #999;
  border-left: 3px solid #aaa;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #ddd; }
  button:hover {
    background-color: #555;
    color: #fff;
    border-top: 3px solid #333;
    border-left: 3px solid #444;
    border-bottom: 3px solid #999;
    border-right: 3px solid #777; }

.hidden {
  display: none; }

.top-nav {
  width: 100%;
  background-color: #aaa; }
  .top-nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .top-nav-link {
    flex: 1;
    padding: 0.5rem;
    text-align: center; }
  .top-nav ul {
    margin: 0; }

.character-sheet {
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  grid-column-gap: 0.75rem;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; }

.player-stats-equipped-gCol {
  grid-column: 1;
  display: grid;
  grid-template-columns: minmax(275px, 1fr) repeat(3, 1fr);
  grid-template-rows: auto auto auto; }
  @media screen and (min-width: 1400px) {
    .player-stats-equipped-gCol {
      grid-template-rows: auto auto; } }

.inventory-gCol {
  grid-column: 2; }

.stats-block {
  grid-column: 1 / 2;
  grid-row: 1;
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
  min-width: 275px;
  max-height: 330px;
  margin-bottom: 4rem;
  background-color: #444;
  border-top: 5px solid #222;
  border-right: 5px solid #555;
  border-bottom: 5px solid #666;
  border-left: 5px solid #333; }

.stats-label {
  margin: 0 0 0.75rem; }

.stat-row {
  line-height: 1.3rem; }

.stat-value {
  padding: 0 0 0 0.75rem;
  text-align: right; }

.equipped-items-col1 {
  grid-column: 1 / span 4;
  grid-row: 2;
  padding: 1rem 1rem 0; }
  @media screen and (min-width: 1400px) {
    .equipped-items-col1 {
      padding: 1rem;
      grid-column: 1 / span 2; } }

.equipped-items-col2 {
  grid-column: 1 / span 4;
  grid-row: 3;
  padding: 0 1rem 1rem; }
  @media screen and (min-width: 1400px) {
    .equipped-items-col2 {
      padding: 1rem;
      grid-column: 3 / span 2;
      grid-row: 2; } }

.equipment-slot {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1rem; }

.slot-title {
  flex: 1 1 100%;
  font-size: 0.9rem;
  margin: 0 0 0.75rem; }

.slot-icon {
  flex: 0 1 64px; }
  .slot-icon img {
    width: 100%;
    max-width: 64px; }

.slot-text {
  flex: 3;
  padding: 0 0 0 0.75rem; }

.equipped-item {
  font-size: 1.1rem;
  margin: 0; }

.equipped-item-stats {
  font-size: 0.7rem; }

.naked {
  font-size: 0.7rem;
  color: red; }

.empty-title {
  margin: 0; }

.inventory {
  padding: 0.75rem 1rem 1rem;
  background-color: #666;
  border-top: 5px solid #444;
  border-right: 5px solid #777;
  border-bottom: 5px solid #888;
  border-left: 5px solid #555;
  display: inline-block;
  width: 100%;
  height: 100%;
  max-height: 850px;
  overflow-y: scroll; }

.inventory-list {
  list-style: none;
  padding: 0; }

.inventory-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25rem 0 0.75rem;
  margin: 0 0 1rem;
  box-shadow: 0 3px #555, 0 6px #aaa; }

.inventory-item-icon {
  flex: 0 0 64px;
  margin: 0 0.75rem 0.5rem 0; }

.inventory-item-text {
  flex: 1; }

.inventory-item-name {
  margin: 0 0 0.25rem;
  font-size: 0.9rem;
  line-height: 1.2rem; }

.inventory-item-btn-bar {
  flex: 1 1 100%; }

.inventory-equip-btn {
  margin: 0 0.75rem 0; }

.inventory-item-stats {
  font-size: 0.7rem;
  margin: 0 0 0.5rem; }

.character-sprites {
  grid-column: 2 / span 3;
  grid-row: 1;
  padding: 1rem 1rem 0;
  border-top: 5px solid #000;
  margin-bottom: 0.75rem;
  background-image: url("http://localhost:3000/uiAssets/sprites/sprite_floor.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain; }

.player-name {
  margin: 0 0 0.5rem;
  font-size: 1.2rem; }

.currency-bar {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin: 0 0 1rem;
  width: 100%; }

.player-currency {
  display: flex;
  align-items: center;
  flex: 1 0;
  padding: 0 0.5rem; }

.currency-icon {
  flex: 0 0 32px;
  padding: 0;
  margin: 0 0.5rem 0 0; }

.currency-label {
  flex: 1;
  font-size: 0.85rem;
  line-height: 1.4rem; }

.currency-value {
  flex: 1;
  margin: 0;
  font-size: 1.3rem; }

.sprites-area {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 275px;
  padding: 1rem 1rem 0; }

.player-sprite {
  margin: 0;
  flex: 1 0 128px;
  text-align: center; }
  .player-sprite img {
    width: 100%;
    max-width: 256px; }

.mount-sprite {
  flex: 1 0 128px;
  margin: 0 0 0 1rem;
  text-align: center; }
  .mount-sprite img {
    width: 100%;
    max-width: 256px; }

.sprite-button {
  display: block;
  min-width: 256px;
  min-height: 256px; }

.sprite-base {
  position: relative;
  z-index: 0; }

.sprite-head-item,
.sprite-hands-item,
.sprite-chest-item,
.sprite-legs-item,
.sprite-feet-item,
.sprite-companion-item,
.sprite-weaponMain-item,
.sprite-weaponOff-item {
  position: absolute;
  z-index: 10; }

@keyframes slots {
  from {
    background-position-y: 0px; }
  to {
    background-position-y: -3072px; } }

.lootboxes {
  display: flex;
  flex-direction: column;
  padding: 1rem; }

.lootbox-store-scroll-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
  margin: 0 0 2rem;
  list-style: none;
  overflow-x: scroll; }

.lootbox-stats-group {
  flex: 1 0 300px;
  max-width: 350px;
  margin: 0 0 1rem;
  padding: 0.5rem;
  background-color: #444;
  border-top: 5px solid #222;
  border-right: 5px solid #555;
  border-bottom: 5px solid #666;
  border-left: 5px solid #333; }

.lootbox-stats-row {
  width: 100%;
  display: flex; }

.lootbox-stats-label {
  flex: 2 1 150px;
  line-height: 1.5rem;
  padding: 0 0.75rem 0 0;
  margin: 0; }

.lootbox-stats-value {
  flex: 1;
  margin: 0;
  text-align: right; }

.loot-show-area {
  margin-bottom: 2rem; }

.loot-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center; }

.unopenedBox {
  background-image: url("http://localhost:3000/uiAssets/testReel.png");
  background-repeat: no-repeat;
  animation: slots 0.9s steps(6) infinite;
  animation-play-state: paused; }
  .unopenedBox .item-label,
  .unopenedBox .item-card,
  .unopenedBox .item-image {
    display: none; }

.spinning {
  animation-play-state: running; }

.lootboxes-button-group {
  display: flex;
  padding: 0;
  margin: 0 auto 1rem; }

.open-boxes-btn,
.buy-boxes-btn {
  flex: 1;
  font-size: 2rem;
  padding: 0.5rem 2rem; }

.open-boxes-btn {
  margin: 0 0.5rem 0; }

.lootbox-store-item {
  flex: 1 0 256px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.lootbox-store-img {
  flex: 0;
  margin: 0 auto 0.5rem; }
  .lootbox-store-img img {
    width: 100%; }

.lootbox-store-item-title {
  flex: 1 0 50px;
  text-align: center;
  margin: 0 0 0.5rem; }

.lootbox-store-buy-btn {
  flex: 1;
  max-width: 300px;
  padding: 0.5rem 0.75rem; }

.loot-item {
  flex: 0 0 256px;
  min-height: 256px;
  padding: 1rem;
  justify-content: space-evenly;
  cursor: pointer; }
  .loot-item .item-label {
    font-size: 1.1rem;
    text-align: center;
    margin: 0 0 0.5rem; }

.loot-item-button {
  display: block;
  width: 100%;
  min-height: 100%; }

.item-card {
  border: 1px solid #aaa;
  padding: 1rem;
  min-height: 175px; }
  .item-card .item-name {
    font-size: 1.2rem;
    margin: 0 0 0.75rem; }
  .item-card .item-desc {
    margin: 0; }
  .item-card item-image {
    width: 100%; }

.open {
  display: block; }

.closed {
  display: none; }
