@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

$two-col-inventory-breakpoint: 1400px;
* { 
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P", cursive;
    background-color: #000;
    color: #fff;
    font-size: 13px;
}

button {
    padding: 3px 9px;
    background-color: #ddd;
    border-top: 3px solid #999;
    border-left: 3px solid #aaa;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #ddd;

    &:hover {
        background-color: #555;
        color:#fff;
        border-top: 3px solid #333;
        border-left: 3px solid #444;
        border-bottom: 3px solid #999;
        border-right: 3px solid #777;
    }
}

@import "components/App/App";
@import "components/PlayerSheet/PlayerSheet";
@import "components/CharacterStats/CharacterStats";
@import "components/CharacterEquipped/CharacterEquipped";
@import "components/EquipmentSlot/EquipmentSlot";
@import "components/CharacterInventory/CharacterInventory";
@import "components/InventoryItem/InventoryItem";
@import "components/CharacterSprites/CharacterSprites";
@import "components/Lootboxes/Lootboxes";